/* GLOBAL ROOT */
:root{
  --htmlBG:url('https://tekerare.github.io/ui/backgrounds/shimotsumaflowers.jpg') repeat-x bottom;
  --singleMainBackground:linear-gradient(#ffffffa0), url('backgrounds/pink-gingham.png');
  --mainBackground:linear-gradient(#ffffff40), url('backgrounds/pink-gingham.png');
  --asideBackground: url('../ui/theme/borderhighlight.png') top left repeat-y, url('lOverhang/fashion.png') no-repeat top left, linear-gradient(#ffffff40), url('../ui/backgrounds/pink-gingham.png');
  --headingBorder:#000000;
  --boldTxt:#4b4d00;
}
#body aside > div{
  background: linear-gradient(to bottom, #f8f9f5 0%,#e9eeda 50%,#e0e8ca 51%,#f5f8ec 100%);
  border-color:#3f541f;
}
h4, h3, h2, h1{ color:var(--boldTxt);}
aside{padding:104px 0px 0px 0px !important;}