:root{
  --singleMainBackground:#f4f4f4;
  --mainBackground:linear-gradient(90deg, #00000000, #00000000 70%, #ffffff), linear-gradient(#ffffffa0), url('../ui/backgrounds/pink-gingham.png') !important;
  --asideBackground:#ffffff;
  --articleSubSurface:#ff809130;
  
  
  --bgBlood: url('../ui/backgrounds/drip.png')repeat-x;
  --bgPageDoll: url('../ui/backgrounds/pagedoll_slaughterlouse.png') bottom right -9% no-repeat;
  --scrollBg: url('../ui/backgrounds/pink-gingham.png');
  --x:fixed;
}
a, a:visited{color:#ffffff;}
header, footer{height:0px;}
header, main, aside, footer{ padding:7px;}
body{
  background: var(--bgPageDoll), var(--scrollBg) top 0px left 0px;
  animation:bgPan linear infinite 90s;
  background-attachment:fixed;
}
header, .panel-wrapper, footer{ max-width:644px;}
#body{
  main{background: var(--mainBackground); border:0px;}
}
#eventsWidget, #eventsWidget > div{box-shadow: none !important;}
#eventsWidget{border: 0!important; background:none !important;
  > div{background:none !important; height:auto !important; border:none !important; overflow-y:auto !important;}
  p{ padding:0px 5px 0px 5px !important; margin:3px;border-radius:3px; padding:5px 0px 5px 0px;}
}
@keyframes bgPan {
  0% {background: var(--bgBlood) top left, var(--bgPageDoll), var(--scrollBg) top 0px left 0px; background-attachment:var(--x);}
  100% {background: var(--bgBlood) top left 800px, var(--bgPageDoll), var(--scrollBg) top 0px left -860px; background-attachment:var(--x);}
}