:root{
  --singleMainBackground:#f4f4f4;
  --mainBackground:linear-gradient(90deg, #00000000, #00000000 70%, #ffffff), linear-gradient(#ffffffa0), url('../ui/backgrounds/bd_snow.jpg') !important;
  --asideBackground:#ffffff;
  --articleSubSurface:#ff809130;
  
  --x:fixed;
}
a, a:visited{color:#ffffff;}
header, footer{height:0px;}
header, main, aside, footer{ padding:7px;}
body{
  background:url('../ui/backgrounds/shimotsumapaddy.jpg') bottom no-repeat, #ffffff;
  background-size:fit;
  background-attachment:fixed;
}
header, .panel-wrapper, footer{ max-width:644px;}
#body{
  main{background: var(--mainBackground); border:0px;}
}
#eventsWidget{> div{height:auto !important; overflow-y:auto !important;}}