body{
  background: url("ui/bg.png") bottom left no-repeat, url("ui/bg.png") top right -60px no-repeat, url("../ui/backgrounds/bd_lilac.jpg"), #c6b6d9; background-attachment:fixed;
  background-size: auto, auto, auto, auto;
}