:root{
  --browserColor:#d4cbb2;
}
@font-face {font-family: "bazinga"; src: url("../fonts/bazinga-tadc.otf");}
@font-face {font-family: "kiwisoda"; src: url("../fonts/kiwisoda.ttf");}
@font-face {font-family: "kinky"; src: url("../fonts/kinky.otf");}
html{
  font-family:'ms gothic', sans-serif;
  font-size:12px;
}
body{background: linear-gradient(0deg, #ffffff 0%, #00000000 50%, #00000000 100%), url('../ui/backgrounds/gingham.png'), #ffffff; background-size:90px; background-attachment:fixed;}
h1{ background:0;}
button{background: url('ui/window_set.png') no-repeat, var(--browserColor); border:1px #000000 solid; height: 21px;width:20px;margin:-0px -0px; pointer-events:auto;}
button:hover{box-shadow: inset -1px -1px #808080, inset 1px 1px , inset -2px -2px #ffffff, inset 2px 2px #ffffff;}
#inBody, button{box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px #808080, inset 2px 2px #ffffff; padding:2px;}
#inBody{ background: var(--browserColor); border:1px #000000 solid;box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px #808080, inset 2px 2px #ffffff; margin:0 auto; width:500px; cursor:default;
  #inContent{ cursor:default; padding:0px 0px 20px 0px;
    ::selection{background:#00000020 !important;}
    h1{ font-family:bazinga; text-align:center; box-shadow:none !important; color:#000000;}
	h2{font-family: "kiwisoda";}
	img{ max-width:100%; margin:0 auto; image-rendering:crisp-edges;}
  }
  > h1{background:#807c73; font-size:12px; margin:0 auto; color:#ffffff; padding:4px 3px 4px 3px;}
  ::selection{background:#00000000}
  > div{
	  box-shadow: inset 0px -1px #0a0a0a, inset -0px -2px #808080;
	  margin:3px 0px 0px 0px;
      padding: 3px 5px 6px 5px !important;
	}
}
.minmaxDec{background-position:top left -15px;}
.dropDown{background-position:top left -49px;}
.closeDec{background-position:top left -34px;}
.fauxField{background:#ffffff; border:var(--browserColor) 3px inset;padding:0px 5px 0px 5px;}