:root{
  --singleMainBackground: url('../ui/backgrounds/green-gingham.gif') !important;
  --mainBackground:url('../ui/backgrounds/green-gingham.gif') !important;
  --articleSubSurface:#ff809130;
  
  --x:fixed;
}