:root{
  --singleMainBackground: url('../ui/backgrounds/green-gingham.gif') !important;
  --mainBackground:url('../ui/backgrounds/green-gingham.gif') !important;
  --articleSubSurface:#ff809130;
  
  --x:fixed;
}
.mediaViewer, .playlist{h2{background:0; text-shadow:none;} border: 5px solid transparent; border-image: url('../ui/backgrounds/scallop_white.png') 5 round; padding:3px; width:96%; background:#ffffff; margin:5px auto 5px;}
.mediaViewer{video{max-width:100%;}
  .main-video{width:100%; max-height:370px;}
  .mediaVidDescription{min-height:50px;}
}
.playlist{ height:250px; overflow-y:scroll;
  .list{video{width:119px; max-height:70px; margin:2px;} display:flex; margin:0;cursor:pointer;}
  .list:hover{background:url(../ui/backgrounds/tone.png);}
  .list-title{margin:auto 0;}
  .list-description{overflow:hidden; height:0; width:0;}
}