:root{
  --boldTxt:#9c0520;
}
body{background: linear-gradient(90deg, #00000000 0%, #ffffff 60%, #ffffff 100%), url('../ui/backgrounds/tiled_plants.png') !important;}
#lContainer{
}
#rContainer{h4, h3, h2, h1 {
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  color: var(--boldTxt);
}}
#rContainer > div {background: #ffffff !important;}}
#rContainer, #imgPreview{img{cursor:pointer;}}
.banner{
  background:url('../ui/tree_post/nikon.png') !important;
}