/* GLOBAL ROOT */
:root{
  --htmlBG:url('https://tekerare.github.io/ui/backgrounds/shimotsumaflowers.jpg') repeat-x bottom;
  --singleMainBackground:url('backgrounds/pink-gingham.png');
  --mainBackground:url('backgrounds/pink-gingham.png');
  --asideBackground: url('../ui/theme/borderhighlight.png') top left repeat-y, url('../ui/backgrounds/pink-gingham.png');
  --headingBorder:#000000;
}
h4, h3, h2, h1{ color:var(--boldTxt);}