/* GLOBAL ROOT */
@font-face {font-family: "kiwisoda"; src: url("../fonts/kiwisoda.ttf");}
@font-face {font-family: "pritchard"; src: url("../fonts/pritchard.otf");}
@font-face {font-family: hack; src: url("../fonts/hack-regular.woff") format("woff");}
:root{
  --asideBackground:url('backgrounds/whitedotted.jpg');
  --mainBackground:#dddddd;
  --singleMainBackground:url('backgrounds/whitedotted.jpg');
  --linkColor:#000000;
  --selectionColor:#00000030;
  --jellyGradient:linear-gradient(180deg, #ffffff 5%, #d41e1e 39%, #e36868 92%);
  --h1BorderColor:#000000;
  --salmon:#ffe6e6;
  --lightSalmon:#f7dfdf;
  --headerLinkGraphic: url('theme/layout_header_portalshadow.png') no-repeat top 14px right 5px, url('theme/layout_header_portalunderlay.png') no-repeat top 14px right 5px, url('backgrounds/coldnonsense.png') no-repeat top 14px right 5px ;
  --bodyArticle:#e8918770;
  --bodyArticleH1:#cc2323;
  --divSolid:linear-gradient(0deg, #ededed 1%, #ffffff 30%);
  --roundedImg:7px;
  --fauxWindowBoxShadow:inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px #808080, inset 2px 2px #ffffff;
  --browserTitle:#807c73;
  --fauxWindowColor:#d4cbb2;
  --fauxWindowButtonSize:20px;
}

/* GLOBAL */
@media screen and (max-width:790px){html{min-height:1400px; .imgBlock div{background:#000000e0; filter:opacity(100%);}}}
html{scroll-behavior: smooth; scrollbar-color: var(--bodyArticleH1) #ffffff; scrollbar-width: auto;font-family: "MS PGothic", sans-serif; font-size:12px;}
body{
  background: url('backgrounds/fax_brcde.png') no-repeat top 5px left 10px, url("backgrounds/donksona.png") no-repeat bottom left 2%, url("backgrounds/donksona_flip.png") no-repeat bottom left 99%, url("backgrounds/grain-tile.gif") repeat;
  background-size: 150px, auto, auto, auto, auto, auto;
  background-attachment:fixed;
  min-width:789px;
  margin: 0 auto;
}
::selection {background: var(--selectionColor);}
hr {background-image: linear-gradient(to right, #00000000, #000000, #00000000);border: 0;height:1px;}
audio{width:100%;filter:opacity(30%);border:var(--borderColor) 1px;border-style: none none var(--borderStyle) none;}
center{img{max-width:400px;cursor:crosshair;}}
img{max-width:100%;}
audio:hover{filter:opacity(50%);}
a, a:visited{color:var(--linkColor);text-decoration-style: dotted;border:1px #000000; cursor:pointer;}
p{margin:10px 0px 10px 0px;}
p, h1, h2, h3, h4, span, details, quiet{display:block;}
p, h1, h2, h3, h4, quiet{padding:0px 5px 0px 5px; display:block;}
article, div, p, h1, h2, h4, details, span, ul, ol, li, td, dl{border:1px #000000;}
h3, h2, h1, h4{border:1px var(--h1BorderColor); margin:0; color:#00000090; padding:0px 4px 0px 4px; text-align:start; margin: 5px 0px 5px 0px; position:relative;}
details{padding:10px;}
ul{margin:0px 0px 0px 0px; padding:3px 0px 3px 23px;}
ol{list-style-type: hiragana; margin:3px;}
ul{list-style-type: "→ ";}
li {margin:0px 0px 0px 0px; text-align:start;}
div, article{position:relative;}
td{border-style:dotted dotted dotted dotted; img{max-width:100% !important;}}
b{color:var(--jellySolid);}
textarea{margin:5px auto 5px auto; display: block; min-height:60px;font-family: "MS PGothic", sans-serif;font-size:12px;}
table{width:100%;}
th{text-align:start; background-color: var(--salmon) !important; font-weight:lighter;}
th, td{background:url("backgrounds/tone.png"); vertical-align:top; border:dotted 1px var(--h1BorderColor) !important; padding:3px 4px 3px 4px;}
#body main > ul, h4, h3, main > h2, main > h1{ background:url("backgrounds/tone.png"); border-style:dotted none dotted none;}
dt, dd{ padding:3px;}
dl{ border:1px #000000; border-style: none none dotted none;}
dt{ border:1px #000000; border-style: dotted none dotted none; font-weight:bold;}
dd{ margin:0px 0px 0px 30px; border:1px #000000; border-style:none none none dotted;}
button{cursor:pointer; font-family:'ms gothic'; font-size:12px;}
details{cursor:text;color:#636363;}
summary{cursor:pointer;color:#000000;}
iframe{aspect-ratio:16/9;width:100%;overflow: hidden;}
video{background:#ffffff; border:1px #000000 solid;}
quiet{color:#00000050;}
#body, #singleBody, nav, .panel-wrapper, aside, main, header, footer{opacity:1; margin:0 auto; box-sizing:border-box;
  div, article, img{background-position:top left;}
}
/*GLOBAL HTML START*/
header, nav, .panel-wrapper, footer{width:60%; min-width:644px; max-width:960px;}
.panel-wrapper{background:linear-gradient(90deg, #00000000 2%, #ffffff 2%, #ffffff 98%, #00000000 98%); min-height:200px; display:flex;
 img, video, center > img, center > video{max-width:95%;}
}
header{padding:10px 0px 0px 0px;min-height:77px; height:102px;}
header, nav{text-align:center;}
aside, main{border:1px #000000; box-sizing:border-box;
  img{ margin:0px 1px 0px 1px;}
}
aside{background:var(--asideBackground); min-width:204px; border-style: dotted none dotted dotted;
  > div{ text-align:start; color: #000000 !important;
	div{margin:5px !important;}
  }
  textarea{max-width:149px; min-width:149px;}
}
main{ min-height:650px; border-style:dotted !important;
  a[href^="http"]:not(:has(img))::after {content: " ↗"}
}
footer{height:80px; background-repeat: no-repeat !important;}
.panel-wrapper{display:flex; margin:0 auto;}
/*GLOBAL HTML THEME END*/
#body, #singleBody{.panel-wrapper{background:url('theme/panelWrapper_rBorder.png') left 8px top repeat-y, url('theme/panelWrapper_lBorder.png') top right repeat-y;} header{ text-align:end;}}
#body aside > div {background: var(--divSolid); box-shadow: 4px 3px 9px -4px #00000070; text-shadow:none !important; width:89%; margin:0px auto 10px auto; border: solid 1px; border-radius:4px;}
#body aside, #singleBody main { > article, > div{border-color:#949494;}}
#body, #singleBody{
  h1, h2{font-size:15px;}
  header, footer{image-rendering:crisp-edges; button{color:#bfbfbf; margin:0px 1px 0px 1px; box-shadow:0px 1px 0px 0px #9c9c9c; background: linear-gradient(#7a7a7a, #606060, #4a4a4a); border:1px solid #303030; padding:2px; border-radius:3px;} button:hover{background: linear-gradient(#4a4a4a, #606060, #7a7a7a);}}
  header{background:url('theme/body_header_frame.png') top right no-repeat, var(--headerLinkGraphic), url('theme/body_lHeader.png') top left no-repeat, url('theme/body_mHeader.png') top center no-repeat !important;}
  footer{text-align:end; background:url('theme/body_rFooter.png') top right no-repeat, url('theme/body_lFooter.png') no-repeat top left, url('theme/body_mFooter.png') top center repeat-y; padding:15px 10px 10px 46px;}
  article{ backdrop-filter:blur(1px); margin:5px auto 5px auto; background: linear-gradient(180deg, var(--bodyArticle) 0%, #ffffff 100%); border-radius:5px; border:1px solid #000000; margin: 5px auto 5px; width:95%; box-shadow: inset 0px 0px 7px #ffffff, inset 0px 0px 7px #ffffff;margin:5px auto 5px; padding:5px;
    h1, h2{ text-shadow: -1px -1px 0 var(--bodyArticleH1), 1px -1px 0 var(--bodyArticleH1), -1px 1px 0 var(--bodyArticleH1), 1px 1px 0 var(--bodyArticleH1); background: url('theme/art_h1-1.gif') no-repeat top left, linear-gradient(90deg, var(--bodyArticle), #00000000, #00000000); background-size:20px, auto; height:19px; margin:0px 0px 4px 0px; color:#ffffff; padding:1px 0px 0px 24px;
	  a {color: #ffffff !important; font-size: 11px; opacity: 0.5;}
    } 
    > div{background:#ffffff; box-shadow:inset 0px 0px 3px -1px #000000; border: #787878 1px solid; padding:0px;}
  }
}
/*DEFAULT THEME START*/
#body{
  aside, main{ border:0;}
  aside{margin:0 0px 0px 14px; padding:5px 0px 0px 0px; max-width:216px;}
  main{ background:url('theme/borderhighlight.png') top left repeat-y, var(--mainBackground); margin:0px 6px 0px 0px; border:1px #000000; border-style:none none none solid !important; padding:5px 0px 0px 1px; width: 100%;
    > h1{ letter-spacing:1px; background:url("theme/h1_bull.png") no-repeat center left, var(--jellyGradient)!important; width:auto !important; box-shadow: inset 0px 0px 3px #ffffff, inset 0px 0px 3px #ffffff; border:1px #36333b; border-style:solid none solid none !important; margin:0; color:#ffffff; a{color:#ffffff !important; font-size:11px; opacity: 0.5;} text-shadow:-1px -1px 0 var(--h1BorderColor), 1px -1px 0 var(--h1BorderColor), -1px 1px 0 var(--h1BorderColor), 1px 1px 0 var(--h1BorderColor); padding:4px 4px 4px 23px;}
    hr{background: url('theme/hr_mobile.png'), no-repeat; background-position:top left; width:100%; height:4px;}
	li { margin:0px 10px 0px 0px;}
  }
}
/*DEFAULT THEME END*/
/*SINGLE THEME START*/
#singleBody{ 
  iframe{aspect-ratio:16/9;width:100%;overflow: hidden;}
  aside{display:none;}
  #lWrp{ border:none; min-width:0;}
  #rWrp{background:var(--singleMainBackground) !important; width:100%; border:0 !important; padding:5px 0px 5px 0px; margin:0px 6px 0px 14px;
    article { width:95% !important; margin:0 auto; margin:5px auto;}
  }
}
/*SINGLE THEME END*/
/*FAUX WINDOW THEME START*/
#fauxWindow{ padding:0px 0px 15px 0px;
  h1, h2{font-family: "kiwisoda";}
  .panel-wrapper, header{background: var(--fauxWindowColor) !important; border:#000000 1px;}
  header{ height:77px !important; border-style:solid solid none solid; padding: 3px 3px 6px 3px !important; text-align:start;
	button{background: url('icons/window_set.png') no-repeat, var(--fauxWindowColor); box-shadow:var(--fauxWindowBoxShadow); border:1px #000000 solid; min-height: var(--fauxWindowButtonSize); min-width:var(--fauxWindowButtonSize);margin:-0px -0px; pointer-events:auto;cursor:not-allowed;}
    button:hover{box-shadow: inset -1px -1px #808080, inset 1px 1px , inset -2px -2px #ffffff, inset 2px 2px #ffffff;}
	h1{font-family:'ms gothic', sans-serif; background:0; background:var(--browserTitle); font-size:12px; margin:0 auto; color:#ffffff; padding:4px;}
	> div{ box-sizing:border-box; box-shadow: inset 0px -1px #0a0a0a, inset -0px -2px #808080;padding: 2px 3px 4px 3px !important;}
  }
  header, .panel-wrapper{box-shadow: var(--fauxWindowBoxShadow);}
  .panel-wrapper{border-style:none solid none solid; padding:4px !important; margin:0 auto; cursor:default;
    ::selection{background:#00000020 !important;}
	img{ max-width:95%; margin:0 auto; image-rendering:crisp-edges;}
    ::selection{background:#00000000}
  }
  aside{border-style:inset dotted inset inset; border-color:var(--fauxWindowColor) #000000 var(--fauxWindowColor) var(--fauxWindowColor); border-width:3px 1px 3px 3px; min-width:220px; padding:0px 0px 0px 10px;
    h2, h1{padding: 4px !important; margin:0;}
    > div{ border:1px var(--h1BorderColor); border-style:dotted none dotted dotted; padding:1px; margin: 0px 0px 10px 0px;}
  }
  main{background:#ffffff; border:var(--fauxWindowColor); border-style:inset inset inset none !important; width:100%; min-width:407px;
    h1, h1 a{ box-shadow:none !important; text-decoration:none;}
  }
  footer{height:0px;}
  .minmaxDec, .minmaxDec2, .closeDec{position:absolute;top:1px;}
  .minmaxDec2{right:40px;}.minmaxDec{background-position:top left -15px;right:20px;}.dropDown{background-position:top left -49px;}.closeDec{background-position:top left -34px;right:0px;}
  .fauxField{background:#ffffff;border:var(--fauxWindowColor) 3px inset; padding:1px 5px 0px 5px;margin:0px -1px !important;}
}
/*FAUX WINDOW THEME END*/
/*ANIMATIONS START*/
@keyframes imgSummAnm{0%{padding:0px 20px 10px 20px;}100%{padding:15px 20px 10px 20px;}}
@keyframes selectBop {0%{transform:translate(0px, -2px);}60%{transform:translate(0px, 1px);}90%{transform:translate(0px, -1px);}100%{transform:translate(0px, 0px);}}
/*ANIMATIONS END*/
/*EXTENSION START*/
#preview{background:#000000b5; background-position:top left; position:fixed; min-width:100%; min-height:100%;z-index:10; text-align:center; display:none; cursor:zoom-out; padding:5vh 0px 4vh 0px; font-family:hack; font-size:20px;}
#fullRes{ max-height:80vh; border:#ffffff 1px solid;}
.imgBlock{background-size:cover !important; min-height:300px; border-radius:10px; border:1px solid #000000 !important; color: #ffffff; image-rendering:smooth;
  a{color: #ffffff;}
  div{ font-family:hack !important; h1, h2, h3{ background:0 !important;font-family:hack ; font-size:20px !important; border-style:dotted;} h1 a, h2 a, h3 a{ transition:.5s ease;}  h1 a:hover, h2 a:hover, h3 a:hover{letter-spacing:2px; transition:.5s ease;} font-size:14px; padding: 15px 15px 10px 15px !important; box-sizing:border-box; background:#000000e0 !important; position:absolute; border-radius:3px; cursor:crosshair; height:100%; width:100%; left:0; top:0; transition:.5s ease; filter:opacity(0%); overflow:hidden;}
}
@media screen and (min-width:790px){.imgBlock:hover div{box-shadow: inset 1px 1px 0px 1px var(--bodyArticleH1), inset -1px -1px 0px 1px var(--bodyArticleH1) !important; animation-name:imgSummAnm; filter:opacity(100%);}}
.flex{background:none !important; box-shadow:none !important; border:none !important; display:flex; width: 96%; max-width:610px; margin:2px auto !important; padding: 0px !important;
  > div, > article{width:50%; margin:0px 1px 0px 1px !important; 
    img{max-width: 97% !important;}
  }
  .item{
    a {font-family:'pritchard'; font-size:35px; text-decoration:none; line-height:12px; text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;}
  }
  .item:hover{background:url('backgrounds/tone.png');}
  > img{ width:50%; height: auto !important; cursor: zoom-in; margin: 0px 1px 1px 1px !important;}
}
.playlist{
  h3{background:url('icons/tune_icon.png') no-repeat left 3px top 3px, url('backgrounds/tone.png'); padding:0px 0px 0px 18px;}
}
.mediaList{ text-align:center;
  img{height:150px; cursor:zoom-in;}
}
.scallop{ border-width: 7px !important;border-style: solid !important;border-image: url("backgrounds/scallop_white.png") 8 fill round !important;}
.altm1{ height:150px; font-size:17px; background:none !important; border:none !important; box-shadow:none !important;
  li:nth-child(odd){background:var(--lightSalmon);}
  a{transition:.3s ease-in-out;}a:hover{letter-spacing:3px;}
  ol{padding-left:25px;}
}
.tone{background:url("backgrounds/tone.png");}
.center{margin:0 auto !important;}
.image{border:1px #000000 solid;}
.recentlyUpdated{background:url('icons/flag.gif') top -3px left 2px no-repeat, url("backgrounds/tone.png"); padding-left: 32px;}
#eventsWidget, #kofiWidget{> div{border:1px solid #000000;}}
#eventsWidget{ width:95%; border-style:solid !important; border-radius:5px; background:var(--divSolid) !important;
  > div{background:url('backgrounds/reader_scrll.png') no-repeat top right 3px, url("backgrounds/dotted_paper.png"), #ffffff; margin:3px; height:100px; box-shadow: #0000006b 0px 2px 5px inset; overflow-y:scroll;}
  p{ padding:0px 5px 0px 5px !important; margin:3px;border-radius:3px; padding:5px 0px 5px 0px;}
}
@keyframes kofiWidgetShuffle{0%{transform: translatey(0%);}50%{transform: translatey(-100%);}100%{}}
#kofiWidget{ background:var(--divSolid);
  > div{ margin:3px; overflow:hidden; max-height:180px; max-width:180px;
    img{max-width:100% !important; animation:kofiWidgetShuffle steps(1, end) infinite 15s;}
   }
}
/*EXTENSION END*/
/*RSS FEED START*/
#rss-feed{> div{height:120px; overflow-y:scroll;}}
.feed-title{display:none;}
/*RSS FEED END*/
/*OFFSITE CUSTOMS START*/
#CultofUsakumya {background:none !important; border:0 !important; 
  table{width:auto;margin:0 auto;}
  td{background:none !important;border:0 !important; padding: 0 !important;margin:0 auto;}
}
/*OFFSITE CUSTOMS END*/