/* GLOBAL ROOT */
@font-face {font-family: "pritchard"; src: url("../fonts/pritchard.otf");}
@font-face {font-family: "assimilation"; src: url("../fonts/assimilation.TTF");}
@font-face {font-family: hack; src: url("../fonts/hack-regular.woff") format("woff");}
:root{
  --htmlBG:url('backgrounds/fax_brcde.png') no-repeat bottom 10px left 15px, url("backgrounds/shimotsumafield.jpg") repeat-x bottom, #ffffff;
  --asideBackground:url('backgrounds/whitedotted.jpg');
  --mainBackground:#bfa6ac;
  --singleMainBackground:url('backgrounds/whitedotted.jpg');
  --linkColor:#000000;
  --selectionColor:#ffffff20;
  --h1BorderColor:#ffffff;
  --headerLinkGraphic: url('theme/layout_header_portalshadow.png') no-repeat top 14px right 5px, url('theme/layout_header_portalunderlay.png') no-repeat top 14px right 5px, url('theme/layout_header_graphic.png') no-repeat top 14px right 5px ;
  --hfButtonTxtSh:#573d42;
  --articleSubSurface:#ffffff;
  --bodyArticle:#0000000;
  --bodyArticleH1:#b50010;
  --bodyArticleH1Bg:#c26b7380;
  --bodyArticleDiv:#36292c;
  --bodyArticleColor:#d9bfc3;
  --fwArticleDiv:#ffffff;
  --fwArticleColor:#000000;
  --divSolid:linear-gradient(0deg, #ededed 1%, #ffffff 30%);
  --fwBoxShadow:inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px #808080, inset 2px 2px #ffffff;
  --browserTitle:#807c73;
  --fwColor:#d4cbb2;
  --fwButtonSize:20px;
}

/* GLOBAL */
@media screen and (max-width:790px){html{min-height:1400px;}}
html{scroll-behavior: smooth; scrollbar-color: var(--bodyArticleH1) #ffffff; scrollbar-width: auto;font-family: "MS PGothic", sans-serif; font-size:12px;}
body{
  background: var(--htmlBG);
  background-attachment:fixed;
  min-width:789px;
  margin: 0 auto;
}
::selection {background: var(--selectionColor);}
hr {background-image: linear-gradient(to right, #00000000, #000000, #00000000);border: 0;height:1px;}
audio{width:100%;filter:opacity(30%);border:var(--borderColor) 1px;border-style: none none var(--borderStyle) none;}
img{max-width:100%;}
audio:hover{filter:opacity(50%);}
a, a:visited{text-decoration-style: dotted; border:1px #000000; cursor:pointer;}
p{margin:10px 0px 10px 0px;}
h1, h2, h3{text-shadow:-1px -1px 0 var(--h1BorderColor), 1px -1px 0 var(--h1BorderColor), -1px 1px 0 var(--h1BorderColor), 1px 1px 0 var(--h1BorderColor), 0px 0px 6px #000000, 0px 0px 6px #000000, 0px 0px 6px #000000, 0px 0px 6px #000000, 0px 0px 6px #000000, 0px 0px 3px #000000, 0px 0px 3px #000000; color:#000000;}
h1{ background:url("theme/icon-h1_bull.gif") no-repeat top 1px left 3px, url("theme/h1Bg.png") no-repeat center left 13px; font-family:"assimilation"; padding:4px 4px 4px 33px !important;}
p, h1, h2, h3, h4, span, details, quiet{display:block;}
p, h1, h2, h3, h4, quiet{padding:0px 5px 0px 5px; display:block;}
article, div, p, h1, h2, h4, details, span, ul, ol, li, td, dl{border:1px #000000;}
h2, h3, h4{background: url("theme/h1Bg.png") no-repeat center left 13px; background-size:contain;}
h3, h2, h1, h4{ border:1px var(--h1BorderColor); margin:0; padding:0px 4px 0px 4px; text-align:start; margin: 5px 0px 5px 0px; position:relative;}
details{padding:10px;}
ul{margin:0px 0px 0px 0px; padding:3px 0px 3px 23px;}
ol{list-style-type: hiragana; margin:3px;}
ul{list-style-type: "→ ";}
.ulSiteMap{list-style-type: "├ "; > li:first-child{list-style-type:"┌ ";}  > li:last-child{list-style-type:"└ ";}
  ul{padding:0px 0px 0px 24px; list-style-type: "│   ├ "; li:last-child{list-style-type:"│   └ ";}}
}
li {margin:0px 0px 0px 0px; text-align:start;}
div, article{position:relative;}
td{border-style:dotted dotted dotted dotted; img{max-width:100% !important;}}
textarea{margin:5px auto 5px auto; display: block; min-height:60px;font-family: "MS PGothic", sans-serif;font-size:12px;}
table{width:100%;}
th{text-align:start; font-weight:lighter;}
th, td{background:url("backgrounds/tone.png"); vertical-align:top; border:dotted 1px var(--h1BorderColor); padding:3px 4px 3px 4px;}
dt, dd{ padding:3px;}
dl{ border:1px #000000; border-style: none none dotted none;}
dt{ border:1px #000000; border-style: dotted none dotted none; font-weight:bold;}
dd{ margin:0px 0px 0px 30px; border:1px #000000; border-style:none none none dotted;}
button{cursor:pointer; font-size:12px; font-family:ms gothic;}
details{cursor:text;color:#636363;}
summary{cursor:pointer;}
iframe{aspect-ratio:16/9;width:100%;overflow: hidden;}
video{background:#000000; border:1px #000000 solid;}
quiet{color:#00000050;}
header, footer, h1, h2{image-rendering:crisp-edges;}
header, nav, .panel-wrapper, footer{width:70%; min-width:644px; max-width:960px;}
.panel-wrapper{ min-height:200px; display:flex;
 img, video{max-width:97%;}
}
header, nav{text-align:center;}
aside, main{
  img{ margin:0px 1px 0px 1px;}
}
main{}
aside{min-width:204px;
  > div{ text-align:start;
	div{margin: 5px !important;}
  }
  textarea{max-width:149px; min-width:149px;}
}
main{ min-height:650px;
  a[href^="http"]:not(:has(img))::after {content: " ↗"}
}
#body, #singleBody, nav, .panel-wrapper, aside, main, header, footer, div, video{opacity:1; box-sizing:border-box;
  div, article, img{background-position:top left;}
}
/*BODY THEME START*/
#body{
  aside, main{ border:0;}
  aside{margin:0px 6px 0px 0px; padding:5px 0px 0px 0px; max-width:216px;
    > div {background: var(--divSolid); box-shadow: 4px 3px 9px -4px #00000070; text-shadow:none !important; width:89%; border: solid 1px; border-radius:4px;}
  }
  main{ background:url('theme/borderlightvalue.png') top left repeat-y, url('theme/borderdarkvalue.png') top right repeat-y, var(--mainBackground); margin:0px 0px 0px 14px; border:1px #000000; border-style:none solid none none !important; padding:5px 0px 0px 1px; width: 100%;
    hr{background: url('theme/hr.png') repeat-x; margin:3px 0px 3px -1px; background-position:top left; width:100%; height:2px;}
	li { margin:0px 10px 0px 0px;}
  }
  article{> div{background:var(--bodyArticleDiv); color:var(--bodyArticleColor); h2, h3, h4, a, a:visited, b {color: var(--bodyArticleColor); text-shadow:none;} th, td{border-color: var(--bodyArticleColor);}}}
}
/*BODY THEME END*/
/*SINGLE THEME START*/
#singleBody{ 
  iframe{aspect-ratio:16/9;width:100%;overflow: hidden;}
  aside{display:none; border:none; min-width:0;}
  main{background:var(--singleMainBackground) !important; width:auto; border:0 !important; padding:5px 0px 5px 0px; margin:0px 6px 0px 14px !important;
    article { width:95% !important; margin:0 auto; margin:5px auto;}
  }
}
/*SINGLE THEME END*/
/*FAUX WINDOW THEME START*/
#fauxWindow{ padding:0px 0px 15px 0px;
  .panel-wrapper, header{background: var(--fwColor) !important; border:#000000 1px;}
  header{ height:77px !important; border-style:solid solid none solid; padding: 3px 3px 6px 3px !important; text-align:start;
	button{background: url('icons/window_set.png') no-repeat, var(--fwColor); box-shadow:var(--fwBoxShadow); border:1px #000000 solid; min-height: var(--fwButtonSize); min-width:var(--fwButtonSize); pointer-events:auto;cursor:not-allowed;}
    button:hover{box-shadow: inset -1px -1px #808080, inset 1px 1px , inset -2px -2px #ffffff, inset 2px 2px #ffffff;}
	span{ background:0; background:var(--browserTitle); margin:0 auto; color:#ffffff; padding:4px;}
	span{position:relative;}
	> div{ box-sizing:border-box; box-shadow: inset 0px -1px #0a0a0a, inset -0px -2px #808080;padding: 2px 3px 4px 3px !important;}
  }
  header, .panel-wrapper{box-shadow: var(--fwBoxShadow);}
  .panel-wrapper{border-style:none solid none solid; padding:4px !important; margin:0 auto; cursor:default;
    ::selection{background:#00000020 !important;}
	img{ max-width:95%; margin:0 auto; max-height: 340px;}
    ::selection{background:#00000000}
  }
  @media (min-width: 10px) {
    .panel-wrapper{ display:flex;}
	aside{border-color:var(--fwColor) var(--fwColor) var(--fwColor) #000000 !important; border-style:inset inset inset dotted !important; border-width:3px 3px 3px 1px !important;}
	main{border-style: inset !important; border-width:3px 0px 3px 3px !important;}
  }
  aside{max-width:220px; padding:5px 5px 5px 5px; border-color:#000000 var(--fwColor) var(--fwColor) var(--fwColor); border-style:dotted inset inset inset; border-width:1px 3px 3px 3px;
    h2, h1{padding: 4px !important; margin:0;}
    > div{ border:1px #000000; padding:1px; margin: 0px 0px 10px 0px;}
  }
  main{padding:5px 0px 5px 0px; border-color:var(--fwColor); border-style:inset inset none inset; border-width:3px 3px 0px 3px;background:#ffffff; width:100%; min-width:407px;
    h1, h1 a{ box-shadow:none !important; text-decoration:none;}
  }
  footer{height:0px;}
  .minmaxDec, .minmaxDec2, .closeDec{position:absolute;top:1px;} .minmaxDec2{right:40px;}.minmaxDec{background-position:top left -15px;right:20px;}.dropDown{background-position:top left -49px;}.closeDec{background-position:top left -34px;right:0px;} .fauxField{background:#ffffff;border:var(--fwColor) 3px inset; padding:1px 5px 0px 5px;margin:0px -1px !important;}
}
/*FAUX WINDOW THEME END*/
/*ANIMATIONS START*/
@keyframes imgSummAnm{0%{padding:0px 20px 10px 20px;}100%{padding:15px 20px 10px 20px;}}
/*ANIMATIONS END*/
/*EXTENSION START*/
#body, #singleBody, #fauxWindow{
  a, a:visited{color:var(--linkColor);}
  .panel-wrapper, nav, aside, main, header, footer{margin:0 auto;}
  header{padding:10px 0px 0px 0px;min-height:77px; height:102px;}
  main{h1, h2{ text-transform: lowercase;}}
  h1{font-size:18px;} h2{font-size:16px;}
  aside{background:var(--asideBackground);
    > div{ margin:7px auto 7px;}
  }
  main{
	> h1{letter-spacing:3px; width:auto !important; margin:0; color:#000000; a{color:#ffffff !important; font-size:11px; opacity: 0.5;} border:0;}
  }
  footer{height:80px; background-repeat: no-repeat !important;}
  article{ margin:5px auto 5px auto; border-radius:5px; margin: 5px auto 5px; padding:5px; backdrop-filter:blur(1px); box-shadow: inset 0px 0px 7px var(--articleSubSurface), inset 0px 0px 7px #ffffff; background: linear-gradient(180deg, var(--bodyArticle) 0%, #ffffff00 100%); border:1px solid; border-color:#000000; width:95%;
    h1, h2{ text-shadow: -1px -1px 0 var(--bodyArticleH1), 1px -1px 0 var(--bodyArticleH1), -1px 1px 0 var(--bodyArticleH1), 1px 1px 0 var(--bodyArticleH1); background: url('theme/icon-h2_bull.gif') no-repeat top left 2px, linear-gradient(90deg, var(--bodyArticleH1Bg), #00000000, #00000000); background-size:20px, auto; height:19px; margin:0px 0px 4px 0px; color:#ffffff; padding:1px 0px 0px 24px;
	  a {color: #ffffff !important;}
    }
    > div{box-shadow:inset 0px 0px 3px -1px #000000; border: #000000 1px solid; padding:0px;
	}
  }
  #eventsWidget, #kofiWidget, #galleryWidget{ > div{border:1px solid #000000;} img{ width:93%;}}
  #eventsWidget{border-style:solid !important; border-radius:5px;
    > div{background: url("backgrounds/dotted_paper.png"), #ffffff; height:100px; box-shadow: #0000006b 0px 2px 5px inset; overflow-y:scroll;}
    p{ padding:0px 5px 0px 5px !important; margin:3px;border-radius:3px; padding:5px 0px 5px 0px;}
  }
  #kofiWidget{> div{ overflow:hidden; max-height:180px; max-width:180px;}}
}
#fauxWindow, #singleBody{
  article{> div{background:var(--fwArticleDiv); color:var(--fwArticleColor); a, b {color: var(--fwArticleColor);} th, td{border-color: var(--fwArticleColor);}}}
}
#body aside, #singleBody main { > article, > div{border-color:#949494;}}
#body, #singleBody{
  header, aside, main, footer{box-shadow:none;}
  header, footer{ button{color:#000000; margin:0px 1px 0px 1px; background: linear-gradient(#8c757a, #80656b, #6e5157); border:1px solid #303030; padding:2px; border-radius:2px;} button:hover{background: linear-gradient(#6e5157, #80656b, #8c757a);}}
  header{background:url('theme/body_header_frame.png') top right no-repeat, var(--headerLinkGraphic), url('theme/body_lHeader.png') top left no-repeat, url('theme/body_mHeader.png') top center no-repeat !important; text-align:end; border:none;
    > div{overflow-y:scroll; border:1px #000000 solid; width:260px; height:67px; background:#ffffff; top:11px; right:-392px;}
  }
  main{margin: 0px 0px 0px 14px;}
  aside{margin: 0px 6px 0px 0px; padding: 5px 1px 0px 0px;}
  .panel-wrapper{background:url('theme/panelWrapper_rBorder.png') left 8px top repeat-y, url('theme/panelWrapper_lBorder.png') top right repeat-y;}
  footer{text-align:end; background:url('theme/body_rFooter.png') top right no-repeat, url('theme/body_lFooter.png') no-repeat top left, url('theme/body_mFooter.png') top center repeat-y; padding:15px 10px 10px 46px;}
  footer{text-align:end; background:url('theme/body_rFooter.png') top right no-repeat, url('theme/body_lFooter.png') no-repeat top left, url('theme/body_mFooter.png') top center repeat-y; padding:15px 10px 10px 46px;}
}
.forceBody{
  > div{background:var(--bodyArticleDiv) !important; color:var(--bodyArticleColor) !important; h2, h3, h4, a, b {color: var(--bodyArticleColor) !important;} th, td{border-color: var(--bodyArticleColor) !important;}}
}
.forceSingle{
  > div{background:var(--fwArticleDiv) !important; color:var(--fwArticleColor) !important; a, b {color: var(--fwArticleColor) !important;} th, td{border-color: var(--fwArticleColor) !important;}}
}
#preview{background:#000000b5; backdrop-filter: blur(3px); background-position:top left; position:fixed; min-width:100%; min-height:100%;z-index:10; text-align:center; display:none; cursor:zoom-out; padding:5vh 0px 4vh 0px; font-family:hack; font-size:20px;}
#fullRes{ max-height:80vh; border:#ffffff 1px solid;}
.flex{background:none; box-shadow:none !important; border:none !important; display:flex; width: 96%; max-width:610px; margin:2px auto !important; padding: 0px !important;
  > div, > article, > a{width:50%; > img{ max-width:96% !important;}}
  > img{ width:49%;}
}
.playlist{h3{ background:url('theme/icon-tune.png') no-repeat left 3px top 3px, url('backgrounds/tone.png'); text-shadow:none; padding:0px 0px 0px 18px;a{transition:.2s ease-in-out;}a:hover{letter-spacing:1px;}}}
.mediaList, .itemList{ margin:0px 10px 0px 10px;div{margin:0 auto;}a{color:#000000 !important;}span{margin:0px;}}
.mediaList{ text-align:center;
  img{height:150px; cursor:zoom-in;}
}
.itemList{ display:flex; font-size:15px; font-family:sans-serif;
  img{max-height:160px;}
  img:hover{ filter: drop-shadow(0 0 .2rem #ffffff); transform:scale(1.13); z-index:10;}
}
.bgTone{background:url("backgrounds/tone.png");}
.image{ border:1px #000000 solid; cursor:pointer; border-radius:5px;}
.recentlyUpdated{background:url('icons/flag.gif') top -3px left 2px no-repeat, url("backgrounds/tone.png"); padding-left: 32px;}
/* VIDEO PLAYER START */
.mediaViewer, .playlist{h2{background:0; text-shadow:none;} border: 5px solid transparent; border-image: url('../ui/backgrounds/scallop_white.png') 5 round; padding:3px; width:96%; background:#ffffff; margin:5px auto 5px;}
.mediaViewer{video{max-width:100%;}
  .videoContainer{width:100%; max-height:400px; border-radius:7px;}
  .mediaVidDescription{min-height:50px;}
}
.playlist{
  .list{video{width:119px; max-height:70px; margin:2px;} display:flex; margin:0;cursor:pointer;}
  .list:hover{background:url(../ui/backgrounds/tone.png);}
  .list-title{margin:auto 0;}
  .list-description{overflow:hidden; height:0; width:0;}
}
/* VIDEO PLAYER END */
/*EXTENSION END*/
/*RSS FEED START*/
.feed-title{display:none;}
/*RSS FEED END*/
/*OFFSITE CUSTOMS START*/
#CultofUsakumya {background:none !important; border:0 !important; 
  table{width:auto;margin:0 auto;}
  td{background:none !important;border:0 !important; padding: 0 !important;margin:0 auto;}
}
/*OFFSITE CUSTOMS END*/