/* GLOBAL ROOT */
:root{
  --asideBackground: url('../ui/theme/borderhighlight.png') top left repeat-y, url('lOverhang/fashion.png') no-repeat top left, url('../ui/backgrounds/gobelin.gif');
  --mainBackground:url('backgrounds/gobelin.gif');
  --headingBorder:#000000;
  --boldTxt:#4b4d00;
}
h4, h3, h2, h1{ color:var(--boldTxt);}
#lWrp{padding:104px 0px 0px 0px !important;}